<div layout="column" ng-cloak class="gas-cliente-form" ng-init="vm.init()">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2>
                <span>Formulário de cliente</span>
            </h2>
        </div>
    </md-toolbar>
    <md-content layout="column" layout-padding>
        <div>
            <form name="form">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Nome</label>
                        <input name="cli_nome" ng-model="vm.gasCliente.CLI_NOME" required>
                        <div ng-messages="form.cli_nome.$error">
                            <div ng-message="required">Campo obrigatório.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>CPF/CNPJ</label>
                        <input name="cli_cpfCnpj" ng-model="vm.gasCliente.CLI_CPFCNPJ" ui-br-cpfcnpj-mask>
                        <div ng-messages="form.cli_cpfCnpj.$error" multiple md-auto-hide="false">
                            <div ng-message="required">Campo obrigatório.</div>
                            <div ng-message="cpf">CPF inválido.</div>
                            <div ng-message="cnpj">CNPJ inválido.</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>E-mail</label>
                        <input name="cli_email" ng-model="vm.gasCliente.CLI_EMAIL" type="email">
                        <div ng-messages="form.cli_email.$error">
                            <div ng-message="required">Campo obrigatório.</div>
                            <div ng-message="email">E-mail inválido.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Telefone/Celular</label>
                        <input name="cli_tel1" ng-model="vm.gasCliente.CLI_TEL1" ui-br-phone-number>
                        <div ng-messages="form.cli_tel1.$error" multiple md-auto-hide="false">
                            <div ng-message="required">Campo obrigatório.</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="30">
                        <label>CEP</label>
                        <input name="cli_cep" ng-model="vm.gasCliente.CLI_CEP" ui-br-cep-mask cep-search cep-search-event="vm.cepSearch(event)">
                        <div ng-messages="form.cli_cep.$error">
                            <div ng-message="required">Campo obrigatório.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Endereço</label>
                        <input name="cli_endereco" ng-model="vm.gasCliente.CLI_ENDERECO" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="15" flex>
                        <label>Nº</label>
                        <input type="number" name="cli_numero" ng-model="vm.gasCliente.CLI_NUMERO" required>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Complemento</label>
                        <input type="text" name="cli_complemento" ng-model="vm.gasCliente.CLI_COMPLEMENTO">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Bairro</label>
                        <input name="cli_bairro" ng-model="vm.gasCliente.CLI_BAIRRO" required>
                        <div ng-messages="form.cli_bairro.$error">
                            <div ng-message="required">Campo obrigatório.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Cidade</label>
                        <input name="cli_cidade" ng-model="vm.gasCliente.CLI_CIDADE" required>
                        <div ng-messages="form.cli_cidade.$error">
                            <div ng-message="required">Campo obrigatório.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="15">
                        <label>Estado</label>
                        <input name="cli_uf" ng-model="vm.gasCliente.CLI_UF" required>
                        <div ng-messages="form.cli_uf.$error">
                            <div ng-message="required">Campo obrigatório.</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="50">
                        <label>Média (Gás/Mês)</label>
                        <input name="gas_media" type="text" ng-model="vm.gasCliente.GAS_MEDIA" required ng-change="vm.callProximaTroca()" ng-currency
                            currency-symbol="">
                        <div ng-messages="form.gas_media.$error">
                            <div ng-message="required">Campo obrigatório.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="50">
                        <label>Última troca</label>
                        <md-datepicker name="gas_ultima_troca" ng-model="vm.gasCliente.GAS_ULTIMA_TROCA" ng-change="vm.callProximaTroca()"></md-datepicker>
                        <div ng-messages="form.gas_ultima_troca.$error">
                            <div ng-message="valid">Data inválida (DD/MM/AAAA).</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="50">
                        <label>Próxima troca (Estimativa)</label>
                        <md-datepicker name="gas_proxima_troca" ng-model="vm.gasCliente.GAS_PROXIMA_TROCA" disabled class="gas_proxima_troca"></md-datepicker>
                    </md-input-container>


                    <md-input-container class="md-block" flex-gt-sm="50">
                        <label>Cliente desde</label>
                        <md-datepicker name="cli_data" ng-model="vm.gasCliente.CLI_DATA"></md-datepicker>
                        <div ng-messages="form.cli_data.$error">
                            <div ng-message="valid">Data inválida (DD/MM/AAAA).</div>
                        </div>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>

    <md-actions layout="row" layout-xs="row">

        <md-button class="md-warn" ng-click="vm.removeById()" ng-if="vm.action === 'update'">
            <i class="fa fa-times" aria-hidden="true"></i> Remover
        </md-button>

        <span flex></span>

        <md-button ng-click="vm.cancel()">
            <i class="" aria-hidden="true"></i> Cancelar
        </md-button>

        <md-button class="md-raised md-primary" ng-click="vm.save()" ng-disabled="form.$invalid">
            <i class="fa fa-check" aria-hidden="true"></i> Salvar
        </md-button>
    </md-actions>
</div>